In [204]:
import numpy as np
import pandas as pd
from math import radians
import sklearn.metrics

In [205]:
df_train = pd.read_csv('../data/train.csv')
df_test = pd.read_csv('../data/test.csv')

print(f"Train size: {df_train.shape[0]}")
print(f"Test size: {df_test.shape[0]}")

Train size: 20254
Test size: 6966

Primary School

In [206]:
np.median(df_test[df_test["subzone"] == "serangoon garden"]["built_year"].dropna())

2005.0

In [207]:
# we fill in empty build year of properties with median of built years of the properties in the same subzone
for row in df_test.index:
    if np.isnan(df_test.loc[row, "built_year"]):
        df_test.loc[row, "built_year"] = np.median(df_test[df_test["subzone"] == df_test.loc[row, "subzone"]]["built_year"].dropna())

print(df_test.isnull().sum())

c:\users\kenny\appdata\local\programs\python\python38\lib\site-packages\numpy\core\fromnumeric.py:3372: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
c:\users\kenny\appdata\local\programs\python\python38\lib\site-packages\numpy\core\_methods.py:170: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

listing_id                 0
title                      0
address                    2
property_name              0
property_type              0
tenure                   637
built_year                20
num_beds                  35
num_baths                149
size_sqft                  0
floor_level             5810
furnishing                 0
available_unit_types     520
total_num_units         1900
property_details_url       0
lat                        0
lng                        0
elevation                  0
subzone                   33
planning_area             33
dtype: int64

In [208]:
print("We can see that there are still 20 properties without built year.")
df_test[np.isnan(df_test['built_year'])]

We can see that there are still 20 properties without built year.

,listing_id,title,address,property_name,property_type,tenure,built_year,num_beds,num_baths,size_sqft,floor_level,furnishing,available_unit_types,total_num_units,property_details_url,lat,lng,elevation,subzone,planning_area
179,314399,4 bed ec for sale in copen grand,tengah garden walk,copen grand,executive condo,99-year leasehold,NaN,4.0,3.0,1399,NaN,unspecified,"2, 3, 4, 5 br",NaN,https://www.99.co/singapore/condos-apartments/...,1.360322,103.730482,0,garden,tengah
755,679135,3 bed ec for sale in copen grand,tengah garden walk,copen grand,executive condo,99-year leasehold,NaN,3.0,2.0,958,NaN,unspecified,"2, 3, 4, 5 br",NaN,https://www.99.co/singapore/condos-apartments/...,1.360322,103.730482,0,garden,tengah
878,857255,4 bed ec for sale in copen grand,tengah garden walk,copen grand,executive condo,99-year leasehold,NaN,4.0,3.0,1238,NaN,unspecified,"2, 3, 4, 5 br",NaN,https://www.99.co/singapore/condos-apartments/...,1.360322,103.730482,0,garden,tengah
1043,352719,3 bed ec for sale in copen grand,tengah garden walk,copen grand,Executive Condo,99-year leasehold,NaN,3.0,2.0,1000,NaN,unspecified,"2, 3, 4, 5 br",NaN,https://www.99.co/singapore/condos-apartments/...,1.360322,103.730482,0,garden,tengah
1425,934617,5 bed ec for sale in copen grand,tengah garden walk,copen grand,Executive Condo,99-year leasehold,NaN,5.0,4.0,1499,NaN,unspecified,"2, 3, 4, 5 br",NaN,https://www.99.co/singapore/condos-apartments/...,1.360322,103.730482,0,garden,tengah
1864,293880,3 bed ec for sale in copen grand,tengah garden walk,copen grand,Executive Condo,99-year leasehold,NaN,3.0,2.0,1000,NaN,unspecified,"2, 3, 4, 5 br",NaN,https://www.99.co/singapore/condos-apartments/...,1.360322,103.730482,0,garden,tengah
2402,219287,5 bed ec for sale in copen grand,tengah garden walk,copen grand,executive condo,99-year leasehold,NaN,5.0,4.0,1593,NaN,unspecified,"2, 3, 4, 5 br",NaN,https://www.99.co/singapore/condos-apartments/...,1.360322,103.730482,0,garden,tengah
2723,855381,3 bed ec for sale in copen grand,tengah garden walk,copen grand,executive condo,99-year leasehold,NaN,3.0,2.0,950,NaN,partial,"2, 3, 4, 5 br",NaN,https://www.99.co/singapore/condos-apartments/...,1.360322,103.730482,0,garden,tengah
3066,542130,4 bed ec for sale in copen grand,tengah garden walk,copen grand,executive condo,99-year leasehold,NaN,4.0,3.0,1300,NaN,unspecified,"2, 3, 4, 5 br",NaN,https://www.99.co/singapore/condos-apartments/...,1.360322,103.730482,0,garden,tengah
3152,688358,3 bed ec for sale in copen grand,tengah garden walk,copen grand,executive condo,99-year leasehold,NaN,3.0,2.0,980,NaN,unspecified,"2, 3, 4, 5 br",NaN,https://www.99.co/singapore/condos-apartments/...,1.360322,103.730482,0,garden,tengah
3604,567492,2 bed ec for sale in copen grand,tengah garden walk,copen grand,executive condo,99-year leasehold,NaN,2.0,2.0,680,NaN,unspecified,"2, 3, 4, 5 br",NaN,https://www.99.co/singapore/condos-apartments/...,1.360322,103.730482,0,garden,tengah
3740,469724,3 bed ec for sale in copen grand,tengah garden walk,copen grand,executive condo,99-year leasehold,NaN,3.0,2.0,938,NaN,unspecified,"2, 3, 4, 5 br",NaN,https://www.99.co/singapore/condos-apartments/...,1.360322,103.730482,0,garden,tengah
4033,417361,3 bed ec for sale in copen grand,tengah garden walk,copen grand,executive condo,99-year leasehold,NaN,3.0,2.0,950,NaN,unspecified,"2, 3, 4, 5 br",NaN,https://www.99.co/singapore/condos-apartments/...,1.360322,103.730482,0,garden,tengah
4146,525076,4 bed ec for sale in copen grand,tengah garden walk,copen grand,executive condo,99-year leasehold,NaN,4.0,3.0,1335,NaN,unspecified,"2, 3, 4, 5 br",NaN,https://www.99.co/singapore/condos-apartments/...,1.360322,103.730482,0,garden,tengah
5112,280111,2 bed ec for sale in copen grand,tengah garden walk,copen grand,executive condo,99-year leasehold,NaN,2.0,2.0,699,NaN,unspecified,"2, 3, 4, 5 br",NaN,https://www.99.co/singapore/condos-apartments/...,1.360322,103.730482,0,garden,tengah
5306,909790,3 bed ec for sale in copen grand,tengah garden walk,copen grand,Executive Condo,99-year leasehold,NaN,3.0,2.0,958,NaN,unspecified,"2, 3, 4, 5 br",NaN,https://www.99.co/singapore/condos-apartments/...,1.360322,103.730482,0,garden,tengah
5736,709309,8 bed house for sale in jurong park,jalan kakatua,jurong park,bungalow,freehold,NaN,8.0,8.0,15500,NaN,unspecified,"4, 5, 6, 7, 8 br",NaN,https://www.99.co/singapore/houses/jurong-park...,1.319025,103.706668,0,liu fang,boon lay
6505,260793,8 bed house for sale in ponggol park,ponggol twenty-fourth avenue,ponggol park,bungalow,999-year leasehold,NaN,8.0,8.0,4541,NaN,unspecified,"studio, 4, 5, 6, 7, 8 br",NaN,https://www.99.co/singapore/houses/ponggol-par...,1.416286,103.899209,0,northshore,punggol
6838,274428,3 bed ec for sale in copen grand,tengah garden walk,copen grand,Executive Condo,99-year leasehold,NaN,3.0,2.0,969,NaN,partial,"2, 3, 4, 5 br",NaN,https://www.99.co/singapore/condos-apartments/...,1.360322,103.730482,0,garden,tengah
6921,746618,5 bed ec for sale in copen grand,tengah garden walk,copen grand,executive condo,99-year leasehold,NaN,5.0,4.0,1499,NaN,unspecified,"2, 3, 4, 5 br",NaN,https://www.99.co/singapore/condos-apartments/...,1.360322,103.730482,0,garden,tengah

In [209]:
#quick search of data online
df_test.loc[df_test["title"].str.contains("copen grand"), 'built_year']=2027
df_test.loc[df_test["title"].str.contains("jurong park"), 'built_year']=1971
df_test.loc[df_test["title"].str.contains("ponggol park"), 'built_year']=2011

In [210]:
df_test[pd.isnull(df_test['subzone'])]

,listing_id,title,address,property_name,property_type,tenure,built_year,num_beds,num_baths,size_sqft,floor_level,furnishing,available_unit_types,total_num_units,property_details_url,lat,lng,elevation,subzone,planning_area
188,939890,4 bed condo for sale in 1953,1 tessensohn road,1953,apartment,freehold,2023.0,4.0,4.0,1399,NaN,partial,"studio, 1, 2, 3, 4, 5, 6 br",58.0,https://www.99.co/singapore/condos-apartments/...,14.484814,121.023232,0,NaN,NaN
393,337090,4 bed condo for sale in 1953,1 tessensohn road,1953,apartment,freehold,2023.0,4.0,4.0,1399,NaN,unspecified,"studio, 1, 2, 3, 4, 5, 6 br",58.0,https://www.99.co/singapore/condos-apartments/...,14.484814,121.023232,0,NaN,NaN
621,406280,5 bed condo for sale in 1953,1 tessensohn road,1953,apartment,freehold,2023.0,5.0,3.0,1507,NaN,unspecified,"studio, 1, 2, 3, 4, 5, 6 br",58.0,https://www.99.co/singapore/condos-apartments/...,14.484814,121.023232,0,NaN,NaN
1026,915017,3 bed condo for sale in 1953,1 tessensohn road,1953,condo,freehold,2023.0,3.0,2.0,893,low,partial,"studio, 1, 2, 3, 4, 5, 6 br",58.0,https://www.99.co/singapore/condos-apartments/...,14.484814,121.023232,0,NaN,NaN
1239,670970,3 bed condo for sale in 1953,1 tessensohn road,1953,condo,freehold,2023.0,3.0,3.0,1130,low,unspecified,"studio, 1, 2, 3, 4, 5, 6 br",58.0,https://www.99.co/singapore/condos-apartments/...,14.484814,121.023232,0,NaN,NaN
1334,903099,3 bed condo for sale in 1953,1 tessensohn road,1953,condo,freehold,2023.0,3.0,3.0,1141,low,unspecified,"studio, 1, 2, 3, 4, 5, 6 br",58.0,https://www.99.co/singapore/condos-apartments/...,14.484814,121.023232,0,NaN,NaN
1578,982425,3 bed condo for sale in 1953,1 tessensohn road,1953,apartment,freehold,2023.0,3.0,2.0,1119,NaN,unspecified,"studio, 1, 2, 3, 4, 5, 6 br",58.0,https://www.99.co/singapore/condos-apartments/...,14.484814,121.023232,0,NaN,NaN
1622,807263,3 bed condo for sale in 1953,1 tessensohn road,1953,apartment,freehold,2023.0,3.0,3.0,1130,NaN,partial,"studio, 1, 2, 3, 4, 5, 6 br",58.0,https://www.99.co/singapore/condos-apartments/...,14.484814,121.023232,0,NaN,NaN
1734,735104,4 bed condo for sale in 1953,1 tessensohn road,1953,condo,freehold,2023.0,4.0,4.0,1399,mid,unfurnished,"studio, 1, 2, 3, 4, 5, 6 br",58.0,https://www.99.co/singapore/condos-apartments/...,14.484814,121.023232,0,NaN,NaN
1765,241124,5 bed condo for sale in 1953,1 tessensohn road,1953,condo,freehold,2023.0,5.0,3.0,1507,NaN,unspecified,"studio, 1, 2, 3, 4, 5, 6 br",58.0,https://www.99.co/singapore/condos-apartments/...,14.484814,121.023232,0,NaN,NaN
1793,633068,3 bed condo for sale in 1953,1 tessensohn road,1953,Condo,freehold,2023.0,3.0,2.0,1130,high,partial,"studio, 1, 2, 3, 4, 5, 6 br",58.0,https://www.99.co/singapore/condos-apartments/...,14.484814,121.023232,0,NaN,NaN
1851,901799,2 bed condo for sale in ness,38 lorong 32 geylang,ness,condo,freehold,2015.0,2.0,2.0,1049,NaN,fully,"studio, 1, 2 br",62.0,https://www.99.co/singapore/condos-apartments/...,38.942776,-77.065364,0,NaN,NaN
1879,729824,6 bed condo for sale in 1953,1 tessensohn road,1953,condo,freehold,2023.0,6.0,4.0,1658,NaN,unspecified,"studio, 1, 2, 3, 4, 5, 6 br",58.0,https://www.99.co/singapore/condos-apartments/...,14.484814,121.023232,0,NaN,NaN
1908,891664,4 bed condo for sale in 1953,1 tessensohn road,1953,condo,freehold,2023.0,4.0,3.0,1227,NaN,unspecified,"studio, 1, 2, 3, 4, 5, 6 br",58.0,https://www.99.co/singapore/condos-apartments/...,14.484814,121.023232,0,NaN,NaN
2277,637209,1 bed condo for sale in pollen & bleu,17 farrer drive,pollen & bleu,condo,99-year leasehold,2017.0,1.0,1.0,549,NaN,unspecified,"1, 2, 3, 4, 5 br",106.0,https://www.99.co/singapore/condos-apartments/...,69.486768,20.184434,0,NaN,NaN
2377,272826,1 bed condo for sale in m5,5 jalan mutiara,m5,Apartment,freehold,2017.0,1.0,1.0,441,NaN,unspecified,"1, 2 br",33.0,https://www.99.co/singapore/condos-apartments/m5,14.484814,121.023232,0,NaN,NaN
2448,285865,2 bed condo for sale in 1953,1 tessensohn road,1953,apartment,freehold,2023.0,2.0,2.0,1130,NaN,unspecified,"studio, 1, 2, 3, 4, 5, 6 br",58.0,https://www.99.co/singapore/condos-apartments/...,14.484814,121.023232,0,NaN,NaN
2515,683796,5 bed condo for sale in 1953,1 tessensohn road,1953,condo,freehold,2023.0,5.0,3.0,1507,NaN,unspecified,"studio, 1, 2, 3, 4, 5, 6 br",58.0,https://www.99.co/singapore/condos-apartments/...,14.484814,121.023232,0,NaN,NaN
3478,235478,3 bed condo for sale in 1953,1 tessensohn road,1953,apartment,freehold,2023.0,3.0,3.0,1130,NaN,unspecified,"studio, 1, 2, 3, 4, 5, 6 br",58.0,https://www.99.co/singapore/condos-apartments/...,14.484814,121.023232,0,NaN,NaN
3673,438200,3 bed condo for sale in 1953,1 tessensohn road,1953,condo,freehold,2023.0,3.0,3.0,1130,ground,unspecified,"studio, 1, 2, 3, 4, 5, 6 br",58.0,https://www.99.co/singapore/condos-apartments/...,14.484814,121.023232,0,NaN,NaN
3701,849371,1 bed condo for sale in 1953,1 tessensohn road,1953,apartment,freehold,2023.0,1.0,1.0,549,NaN,partial,"studio, 1, 2, 3, 4, 5, 6 br",58.0,https://www.99.co/singapore/condos-apartments/...,14.484814,121.023232,0,NaN,NaN
4065,420220,3 bed condo for sale in 1953,1 tessensohn road,1953,condo,freehold,2023.0,3.0,2.0,893,high,unspecified,"studio, 1, 2, 3, 4, 5, 6 br",58.0,https://www.99.co/singapore/condos-apartments/...,14.484814,121.023232,0,NaN,NaN
4180,697456,5 bed condo for sale in 1953,1 tessensohn road,1953,condo,freehold,2023.0,5.0,3.0,1507,NaN,unspecified,"studio, 1, 2, 3, 4, 5, 6 br",58.0,https://www.99.co/singapore/condos-apartments/...,14.484814,121.023232,0,NaN,NaN
5504,247945,4 bed condo for sale in 1953,1 tessensohn road,1953,Apartment,freehold,2023.0,4.0,5.0,1399,NaN,unspecified,"studio, 1, 2, 3, 4, 5, 6 br",58.0,https://www.99.co/singapore/condos-apartments/...,14.484814,121.023232,0,NaN,NaN
5653,262273,3 bed condo for sale in 1953,1 tessensohn road,1953,apartment,freehold,2023.0,3.0,3.0,1238,NaN,unspecified,"studio, 1, 2, 3, 4, 5, 6 br",58.0,https://www.99.co/singapore/condos-apartments/...,14.484814,121.023232,0,NaN,NaN
5854,690511,4 bed condo for sale in 1953,1 tessensohn road,1953,condo,freehold,2023.0,4.0,4.0,1399,NaN,partial,"studio, 1, 2, 3, 4, 5, 6 br",58.0,https://www.99.co/singapore/condos-apartments/...,14.484814,121.023232,0,NaN,NaN
5960,439201,3 bed condo for sale in 1953,1 tessensohn road,1953,apartment,freehold,2023.0,3.0,3.0,1141,NaN,unspecified,"studio, 1, 2, 3, 4, 5, 6 br",58.0,https://www.99.co/singapore/condos-apartments/...,14.484814,121.023232,0,NaN,NaN
6103,532454,3 bed condo for sale in 1953,1 tessensohn road,1953,condo,freehold,2023.0,3.0,3.0,1152,NaN,unspecified,"studio, 1, 2, 3, 4, 5, 6 br",58.0,https://www.99.co/singapore/condos-apartments/...,14.484814,121.023232,0,NaN,NaN
6250,981245,3 bed condo for sale in 1953,1 tessensohn road,1953,apartment,freehold,2023.0,3.0,2.0,1227,NaN,unspecified,"studio, 1, 2, 3, 4, 5, 6 br",58.0,https://www.99.co/singapore/condos-apartments/...,14.484814,121.023232,0,NaN,NaN
6296,692599,4 bed condo for sale in 1953,1 tessensohn road,1953,condo,freehold,2023.0,4.0,4.0,1399,NaN,unspecified,"studio, 1, 2, 3, 4, 5, 6 br",58.0,https://www.99.co/singapore/condos-apartments/...,14.484814,121.023232,0,NaN,NaN
6512,496493,5 bed condo for sale in 1953,1 tessensohn road,1953,Condo,freehold,2023.0,5.0,3.0,1507,NaN,partial,"studio, 1, 2, 3, 4, 5, 6 br",58.0,https://www.99.co/singapore/condos-apartments/...,14.484814,121.023232,0,NaN,NaN
6565,532090,2 bed condo for sale in ness,38 lorong 32 geylang,ness,condo,freehold,2015.0,2.0,2.0,1033,NaN,unspecified,"studio, 1, 2 br",62.0,https://www.99.co/singapore/condos-apartments/...,38.942776,-77.065364,0,NaN,NaN
6641,318536,3 bed condo for sale in 1953,1 tessensohn road,1953,Condo,freehold,2023.0,3.0,3.0,1227,NaN,partial,"studio, 1, 2, 3, 4, 5, 6 br",58.0,https://www.99.co/singapore/condos-apartments/...,14.484814,121.023232,0,NaN,NaN

In [211]:
df_test.loc[df_test["address"].str.contains("1 tessensohn road", na=False), 'subzone'] = 'lavender'
df_test.loc[df_test["address"].str.contains("1 tessensohn road", na=False), 'planning_area'] = 'kallang'

df_test.loc[df_test["address"].str.contains("38 lorong 32 geylang", na=False), 'subzone'] = 'aljunied'
df_test.loc[df_test["address"].str.contains("38 lorong 32 geylang", na=False), 'planning_area'] = 'geylang'

df_test.loc[df_test["address"].str.contains("17 farrer drive", na=False), 'subzone'] = 'leonie hill'
df_test.loc[df_test["address"].str.contains("17 farrer drive", na=False), 'planning_area'] = 'river valley'

df_test.loc[df_test["address"].str.contains("5 jalan mutiara", na=False), 'subzone'] = 'central subzone'
df_test.loc[df_test["address"].str.contains("5 jalan mutiara", na=False), 'planning_area'] = 'downtown core'

df_test.isnull().sum()

listing_id                 0
title                      0
address                    2
property_name              0
property_type              0
tenure                   637
built_year                 0
num_beds                  35
num_baths                149
size_sqft                  0
floor_level             5810
furnishing                 0
available_unit_types     520
total_num_units         1900
property_details_url       0
lat                        0
lng                        0
elevation                  0
subzone                    0
planning_area              0
dtype: int64

In [212]:
df_pri_sch = pd.read_csv('../data/auxiliary-data/sg-primary-schools.csv')
df_pri_sch = df_pri_sch.drop(["name", "lat", "lng", 'planning_area'], axis=1)
pri_sch_cleaned = df_pri_sch.value_counts().to_frame(name="pri_sch")

Secondary School

In [213]:
df_sec_sch = pd.read_csv('../data/auxiliary-data/sg-secondary-schools.csv')
df_sec_sch = df_sec_sch.drop(["name", "lat", "lng", 'planning_area'], axis=1)
sec_sch_cleaned = df_sec_sch.value_counts().to_frame(name="sec_sch")

Population Density of Subzone

In [214]:
df_subzone = pd.read_csv('../data/auxiliary-data/sg-subzones.csv')

for row in df_subzone.index:
    if df_subzone.loc[row, "population"] == 0:
        df_subzone.loc[row, "population"] += 10

df_subzone["population_density"] = df_subzone['population']/df_subzone["area_size"]
df_subzone = df_subzone.drop(['area_size', 'population', 'planning_area'],axis=1).set_index("name")

In [215]:
df_dirty_test = df_test
df_dirty_train = df_train

Remove duplicates and invalid data (Rows)

In [216]:
df_cleaned = df_dirty_train.drop_duplicates()
df_cleaned = df_cleaned[df_cleaned.size_sqft > 0]
df_cleaned.dropna(subset=['num_beds', 'num_baths', 'price', 'size_sqft', 'built_year', 'available_unit_types', 'tenure'], inplace = True)
df_cleaned = df_cleaned[df_cleaned.price > 0]
df_cleaned = df_cleaned[df_cleaned.furnishing != "na"]
print(f'Records dropped :{df_dirty_train.shape[0] - df_cleaned.shape[0]}' )

Records dropped :3034

#c.	Standardize capitalization

In [217]:
df_cleaned['property_type'] = df_cleaned['property_type'].str.lower()
df_cleaned['tenure'] = df_cleaned['tenure'].str.lower()
df_cleaned['furnishing'] = df_cleaned['furnishing'].str.lower()
df_cleaned['subzone'] = df_cleaned['subzone'].str.lower()
df_cleaned['planning_area'] = df_cleaned['planning_area'].str.lower()

df_cleaned['built_year'] = df_cleaned['built_year'].astype(int)
df_cleaned['num_beds'] = df_cleaned['num_beds'].astype(int)
df_cleaned['num_baths'] = df_cleaned['num_baths'].astype(int)
df_cleaned['lng'] = df_cleaned['lng'].astype(np.float16)
df_cleaned['lat'] = df_cleaned['lat'].astype(np.float16)

df_test_cleaned = df_dirty_test
df_test_cleaned['property_type'] = df_test_cleaned['property_type'].str.lower()
df_test_cleaned['tenure'] = df_test_cleaned['tenure'].str.lower()
df_test_cleaned['furnishing'] = df_test_cleaned['furnishing'].str.lower()
df_test_cleaned['subzone'] = df_test_cleaned['subzone'].str.lower()
df_test_cleaned['planning_area'] = df_test_cleaned['planning_area'].str.lower()

#TODO: Fix comments
#df_test_cleaned['built_year'] = df_test_cleaned['built_year'].astype(int)
#df_test_cleaned['num_beds'] = df_test_cleaned['num_beds'].astype(int)
#df_test_cleaned['num_baths'] = df_test_cleaned['num_baths'].astype(int)
df_test_cleaned['lng'] = df_test_cleaned['lng'].astype(np.float16)
df_test_cleaned['lat'] = df_test_cleaned['lat'].astype(np.float16)

Clean Lease tenure column, Property_Type Column

In [218]:
#TENURE COLUMN
mask_999 = ['947-year leasehold', '929-year leasehold', '946-year leasehold',
'956-year leasehold']
mask_99 = ['100-year leasehold', '102-year leasehold', '110-year leasehold', '103-year leasehold']
df_cleaned = df_cleaned.replace(mask_999, '999-year leasehold')
df_cleaned = df_cleaned.replace(mask_99, '99-year leasehold')

df_test_cleaned = df_test_cleaned.replace(mask_999, '999-year leasehold')
df_test_cleaned = df_test_cleaned.replace(mask_99, '99-year leasehold')

print(f"Train size: {df_cleaned.shape[0]}")
print(f"Test size: {df_test_cleaned.shape[0]}")

Train size: 17220
Test size: 6966

In [219]:
#PROPERTY TYPE
# changing "hdb 3 rooms", "hdb 4 rooms" and likewise to "hdb" since the number of rooms info can
# be obtained from "num_beds"
df_cleaned['property_type'].mask(df_cleaned['property_type'].str.contains("hdb"), "hdb", inplace=True)
df_cleaned.drop(df_cleaned[df_cleaned['property_type']  == 'land only'].index, inplace = True)

df_test_cleaned['property_type'].mask(df_test_cleaned['property_type'].str.contains("hdb"), "hdb", inplace=True)

#TODO: Reduce number of property types with less properties. Maybe do an EDA and figure out best way to remove them. Perhaps club 
#them in different category.

df_cleaned.loc[(df_cleaned['property_type']=="apartment") & 
       (df_cleaned['title'].str.contains('condo')),['property_type']] = "condo"

df_cleaned.loc[(df_cleaned['property_type']=="walk-up") & 
       (df_cleaned['title'].str.contains('condo')),['property_type']] = "condo"

df_cleaned.loc[(df_cleaned['property_type']=="good class bungalow"),['property_type']] = "bungalow"

#Test
df_test_cleaned.loc[(df_test_cleaned['property_type']=="apartment") & 
       (df_test_cleaned['title'].str.contains('condo')),['property_type']] = "condo"

df_test_cleaned.loc[(df_test_cleaned['property_type']=="walk-up") & 
       (df_test_cleaned['title'].str.contains('condo')),['property_type']] = "condo"

df_test_cleaned.loc[(df_test_cleaned['property_type']=="good class bungalow"),['property_type']] = "bungalow"

df_test_cleaned.loc[(df_test_cleaned['property_type']=="conservation house") & 
       (df_test_cleaned['property_details_url'].str.contains('condo')),['property_type']] = "condo"

df_test_cleaned.loc[(df_test_cleaned['property_type']=="good class bungalow"),['property_type']] = "bungalow"

#The following results have been picked manually from the website 99.co
df_test_cleaned.loc[(df_test_cleaned['property_type']=="conservation house") & 
       (df_test_cleaned['property_details_url'].str.contains('blair-plain-conservation-area')),['property_type']] = "landed"

df_test_cleaned.loc[(df_test_cleaned['property_type']=="conservation house") & 
       (df_test_cleaned['property_details_url'].str.contains('beng-tong-mansion')),['property_type']] = "landed"

print(f"Train size: {df_cleaned.shape[0]}")
print(f"Test size: {df_test_cleaned.shape[0]}")

Train size: 17219
Test size: 6966

Handle Missing Values

In [220]:
#h. Handle missing values

#built_year
dfmap = df_cleaned.dropna(subset = ['built_year'])[['built_year', 'property_name']].drop_duplicates()
dfmap = dfmap.drop_duplicates(subset = ['property_name'])
df_cleaned = df_cleaned.drop(columns=['built_year']).merge(dfmap, on=['property_name'], how='left')

dfmap = df_cleaned.dropna(subset = ['tenure'])[['tenure', 'property_name']].drop_duplicates()
dfmap = dfmap.drop_duplicates(subset = ['property_name'])
df_cleaned = df_cleaned.drop(columns=['tenure']).merge(dfmap, on=['property_name'], how='left')

dfmap = df_cleaned.dropna(subset = ['tenure'])[['tenure', 'address']].drop_duplicates()
dfmap = dfmap.drop_duplicates(subset = ['address'])
df_cleaned = df_cleaned.drop(columns=['tenure']).merge(dfmap, on=['address'], how='left')

#df_cleaned.isnull().sum()

In [221]:
#h. Handle missing values
#print(df_test_cleaned.isnull().sum())
print("----------------------------------------------------")

#built_year
dfmap = df_test_cleaned.dropna(subset = ['built_year'])[['built_year', 'property_name']].drop_duplicates()
dfmap = dfmap.drop_duplicates(subset = ['property_name'])
df_test_cleaned = df_test_cleaned.drop(columns=['built_year']).merge(dfmap, on=['property_name'], how='left')


#df_test_cleaned = df_test_cleaned.dropna(subset=['built_year'])

dfmap = df_test_cleaned.dropna(subset = ['tenure'])[['tenure', 'property_name']].drop_duplicates()
dfmap = dfmap.drop_duplicates(subset = ['property_name'])
df_test_cleaned = df_test_cleaned.drop(columns=['tenure']).merge(dfmap, on=['property_name'], how='left')

dfmap = df_test_cleaned.dropna(subset = ['tenure'])[['tenure', 'address']].drop_duplicates()
dfmap = dfmap.drop_duplicates(subset = ['address'])
df_test_cleaned = df_test_cleaned.drop(columns=['tenure']).merge(dfmap, on=['address'], how='left')

#Fill in number of baths from number of bedrooms.
df_test_cleaned.loc[(df_test_cleaned.num_baths.isnull() & df_test_cleaned.num_beds == 1), ['num_baths']] = 1
df_test_cleaned.loc[(df_test_cleaned.num_baths.isnull() & df_test_cleaned.num_beds == 2), ['num_baths']] = 2
df_test_cleaned.loc[(df_test_cleaned.num_baths.isnull() & df_test_cleaned.num_beds > 2), ['num_baths']] = df_test_cleaned.num_beds -1

#Fill in number of beds from number of bathrooms.
df_test_cleaned.loc[(df_test_cleaned.num_beds.isnull() & df_test_cleaned.num_baths == 1), ['num_beds']] = 1
df_test_cleaned.loc[(df_test_cleaned.num_beds.isnull() & df_test_cleaned.num_baths == 2), ['num_beds']] = 2
df_test_cleaned.loc[(df_test_cleaned.num_beds.isnull() & df_test_cleaned.num_baths > 2), ['num_beds']] = df_test_cleaned.num_baths + 1

#There are 5 properties which have both Nan values for bed and baths. Estimate their beds from area.
df_test_cleaned.loc[(df_test_cleaned.num_beds.isnull() & df_test_cleaned.size_sqft < 600), ['num_beds']] = 1
df_test_cleaned.loc[(df_test_cleaned.num_beds.isnull() & df_test_cleaned.size_sqft < 1000), ['num_beds']] = 2
df_test_cleaned.loc[(df_test_cleaned.num_beds.isnull() & df_test_cleaned.size_sqft < 1700), ['num_beds']] = 3
df_test_cleaned.loc[(df_test_cleaned.num_beds.isnull() & df_test_cleaned.size_sqft < 3000), ['num_beds']] = 4

#Estimate their baths from beds.
df_test_cleaned.loc[(df_test_cleaned.num_baths.isnull() & df_test_cleaned.num_beds == 1), ['num_baths']] = 1
df_test_cleaned.loc[(df_test_cleaned.num_baths.isnull() & df_test_cleaned.num_beds == 2), ['num_baths']] = 2
df_test_cleaned.loc[(df_test_cleaned.num_baths.isnull() & df_test_cleaned.num_beds > 2), ['num_baths']] = df_test_cleaned.num_beds -1

----------------------------------------------------

In [222]:
#fill in missing tenure type for HDB

df_test_cleaned.loc[(df_test_cleaned["property_type"] == "hdb") & (df_test_cleaned["tenure"].isnull()), "tenure"] = "99-year leasehold"
df_test_cleaned

,listing_id,title,address,property_name,property_type,num_beds,num_baths,size_sqft,floor_level,furnishing,available_unit_types,total_num_units,property_details_url,lat,lng,elevation,subzone,planning_area,built_year,tenure
0,777912,1 bed condo for sale in the gazania,17 how sun drive,the gazania,condo,4.0,1.0,463,NaN,unfurnished,"studio, 1, 2, 3, 4, 5 br",250.0,https://www.99.co/singapore/condos-apartments/...,1.344727,103.8750,0,upper paya lebar,serangoon,2022.0,freehold
1,936612,3 bed condo for sale in vue 8 residence,95 pasir ris heights,vue 8 residence,condo,4.0,3.0,1033,high,unspecified,"studio, 1, 2, 3, 4, 5 br",463.0,https://www.99.co/singapore/condos-apartments/...,1.379883,103.9375,0,pasir ris west,pasir ris,2017.0,99-year leasehold
2,995264,1 bed condo for sale in icon,10 gopeng street,icon,condo,4.0,1.0,570,NaN,fully,"studio, 1, 2, 3 br",646.0,https://www.99.co/singapore/condos-apartments/...,1.294922,103.8750,0,bras basah,museum,2007.0,99-year leasehold
3,477435,hdb flat for sale in 812b choa chu kang avenue 7,bukit batok / bukit panjang / choa chu kang (d23),keat hong colours,hdb,4.0,2.0,1216,NaN,unspecified,"1, 2, 3, 4, 5 br",968.0,https://www.99.co/singapore/hdb/keat-hong-colo...,1.373047,103.7500,0,keat hong,choa chu kang,2017.0,99-year leasehold
4,222529,hdb flat for sale in 204 toa payoh north,balestier / toa payoh (d12),toa payoh spring,hdb,4.0,2.0,936,NaN,unspecified,"1, 2, 3, 4 br",NaN,https://www.99.co/singapore/hdb/toa-payoh-spri...,1.341797,103.8750,0,braddell,toa payoh,1973.0,99-year leasehold
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6961,289879,5 bed house for sale in paradise island,paradise island,paradise island,bungalow,4.0,6.0,8000,NaN,unspecified,"4, 5, 6, 7, 8 br",29.0,https://www.99.co/singapore/houses/paradise-is...,1.250000,103.8750,0,sentosa,southern islands,2009.0,99-year leasehold
6962,396404,5 bed house for sale in orchid village,vanda drive,orchid village,semi-detached house,4.0,7.0,6974,NaN,unspecified,"4, 5, 6, 7, 8 br",NaN,https://www.99.co/singapore/houses/orchid-vill...,1.332031,103.8125,0,hillcrest,bukit timah,2010.0,freehold
6963,620343,3 bed condo for sale in the avenir,8 river valley close,the avenir,condo,4.0,2.0,1141,NaN,partial,"studio, 1, 2, 3, 4, 5 br",376.0,https://www.99.co/singapore/condos-apartments/...,1.293945,103.8125,0,institution hill,river valley,2025.0,freehold
6964,364805,hdb flat for sale in 31 marine crescent,east coast / marine parade (d15),marine crescent ville,hdb,4.0,1.0,818,NaN,unspecified,"1, 2, 3, 4 br",NaN,https://www.99.co/singapore/hdb/marine-crescen...,1.303711,103.9375,0,marine parade,marine parade,1975.0,99-year leasehold
6965,915621,3 bed condo for sale in riviere,3 jiak kim street,riviere,condo,4.0,3.0,1507,NaN,unspecified,"1, 2, 3, 4, 5 br",455.0,https://www.99.co/singapore/condos-apartments/...,1.302734,103.8750,0,tanjong rhu,kallang,2023.0,99-year leasehold

In [223]:
# find the most probable type of tenure from the train data, use them to fill in the unknown tenure type
df_cleaned[df_cleaned["property_type"] == "condo"]["tenure"].value_counts()

99-year leasehold     4822
freehold              4628
999-year leasehold     180
Name: tenure, dtype: int64

In [224]:
df_cleaned[df_cleaned["property_type"] == "terraced house"]["tenure"].value_counts()

freehold              187
99-year leasehold      88
999-year leasehold     14
Name: tenure, dtype: int64

In [225]:
df_cleaned[df_cleaned["property_type"] == "semi-detached house"]["tenure"].value_counts()

freehold              530
99-year leasehold     123
999-year leasehold     31
Name: tenure, dtype: int64

In [226]:
df_cleaned[df_cleaned["property_type"] == "bungalow"]["tenure"].value_counts()

freehold              343
99-year leasehold     181
999-year leasehold     14
Name: tenure, dtype: int64

In [227]:
df_cleaned[df_cleaned["property_type"] == "corner terrace"]["tenure"].value_counts()

freehold              117
99-year leasehold      18
999-year leasehold     17
Name: tenure, dtype: int64

In [228]:
df_cleaned[df_cleaned["property_type"] == "landed"]["tenure"].value_counts()

99-year leasehold     9
freehold              6
999-year leasehold    1
Name: tenure, dtype: int64

In [229]:
df_cleaned[df_cleaned["property_type"] == "cluster house"]["tenure"].value_counts()

99-year leasehold     106
freehold               43
999-year leasehold     15
Name: tenure, dtype: int64

In [230]:
df_test_cleaned.loc[(df_test_cleaned["property_type"] == "condo") & (df_test_cleaned["tenure"].isnull()), "tenure"] = "99-year leasehold"
df_test_cleaned.loc[(df_test_cleaned["property_type"] == "landed") & (df_test_cleaned["tenure"].isnull()), "tenure"] = "99-year leasehold"
df_test_cleaned.loc[(df_test_cleaned["property_type"] == "cluster house") & (df_test_cleaned["tenure"].isnull()), "tenure"] = "99-year leasehold"
df_test_cleaned.loc[(df_test_cleaned["property_type"] == "terraced house") & (df_test_cleaned["tenure"].isnull()), "tenure"] = "freehold"
df_test_cleaned.loc[(df_test_cleaned["property_type"] == "semi-detached house") & (df_test_cleaned["tenure"].isnull()), "tenure"] = "freehold"
df_test_cleaned.loc[(df_test_cleaned["property_type"] == "bungalow") & (df_test_cleaned["tenure"].isnull()), "tenure"] = "freehold"
df_test_cleaned.loc[(df_test_cleaned["property_type"] == "corner terrace") & (df_test_cleaned["tenure"].isnull()), "tenure"] = "freehold"

In [231]:
# there are only 2 records which appear to be incorrect as num_beds =1, whereas num_baths = 10 and price is > 3e8
# hence we can drop these two records so that the results are not skewed

df_cleaned = df_cleaned[df_cleaned['price']<3e8]

Singapore has the following latitude and longitude coordinates in its extreme ends:
1. left-most (Tuas) :  1.30871,103.64287
2. right-most (Changi) : 1.34538,104.00270
3. top-most (Sembawang) : 1.46227,103.79487
4. bottom-most (Bukit Merah) : 1.28762,103.82467


#### Min latitude - 1.28762       Max latitude - 1.46227

#### Min longitude - 103.64         Max longitude - 104.00

But we can see that in the data, min longitude is -77.065364 and max latitude is 69.486768 which are out of the range of latitude and longitude values 

<img src="images/singapore-lat-long-map.jpeg" width=600 height=600 />

In [232]:
df_max_lng = df_cleaned[df_cleaned.lng > 121.0]
df_min_lng = df_cleaned[df_cleaned.lng < -77.0]
df_max_lat = df_cleaned[df_cleaned.lat > 69.0]
df_wrong_coordinates = pd.concat([df_max_lng, df_min_lng, df_max_lat])

print("It is interesting to note that in all the records where latitude and longitude have incorrect coordinates, planning_area and subzone have missing values, this can also be verified by checking for count of missing values")
print(df_wrong_coordinates["address"].value_counts())
# coordinates are incorrect for 5 'address'


# using the 'address' we can manually correct the latitude, longitude coordinates along with 
# filling of values for sub zone and planning_area

df_cleaned.loc[df_cleaned.address == "1 tessensohn road", 
               ['property_type', 'lat', 'lng', 'subzone', 'planning_area']] = 'condo', 1.3164313, 103.8575321, 'balestier', 'novena'
df_cleaned.loc[df_cleaned.address == "38 lorong 32 geylang", 
               ['property_type', 'lat', 'lng', 'subzone', 'planning_area']] = 'condo', 1.31262, 103.88686, 'aljunied', 'geylang'
df_cleaned.loc[df_cleaned.address == "5 jalan mutiara", 
               ['property_type', 'lat', 'lng', 'subzone', 'planning_area']] = 'condo', 1.29565, 103.82887, 'leonie hill', 'river valley'
df_cleaned.loc[df_cleaned.address == "17 farrer drive", 
               ['property_type', 'lat', 'lng', 'subzone', 'planning_area']] = 'condo', 1.313259, 103.806622, 'holland road', 'bukit timah'
df_cleaned.loc[df_cleaned.address == "15 farrer drive", 
               ['property_type', 'lat', 'lng', 'subzone', 'planning_area']] = 'condo', 1.313259, 103.806622, 'holland road', 'bukit timah'

It is interesting to note that in all the records where latitude and longitude have incorrect coordinates, planning_area and subzone have missing values, this can also be verified by checking for count of missing values
38 lorong 32 geylang    6
17 farrer drive         3
15 farrer drive         2
Name: address, dtype: int64

In [233]:
df_max_lng = df_test_cleaned[df_test_cleaned.lng > 121.0]
df_min_lng = df_test_cleaned[df_test_cleaned.lng < -77.0]
df_max_lat = df_test_cleaned[df_test_cleaned.lat > 69.0]
df_wrong_coordinates = pd.concat([df_max_lng, df_min_lng, df_max_lat])

print("It is interesting to note that in all the records where latitude and longitude have incorrect coordinates, planning_area and subzone have missing values, this can also be verified by checking for count of missing values")
print(df_wrong_coordinates["address"].value_counts())
# coordinates are incorrect for 5 'address'


# using the 'address' we can manually correct the latitude, longitude coordinates along with 
# filling of values for sub zone and planning_area

df_test_cleaned.loc[df_test_cleaned.address == "38 lorong 32 geylang", 
               ['property_type', 'lat', 'lng', 'subzone', 'planning_area']] = 'condo', 1.31262, 103.88686, 'aljunied', 'geylang'
df_test_cleaned.loc[df_test_cleaned.address == "17 farrer drive", 
               ['property_type', 'lat', 'lng', 'subzone', 'planning_area']] = 'condo', 1.313259, 103.806622, 'holland road', 'bukit timah'

It is interesting to note that in all the records where latitude and longitude have incorrect coordinates, planning_area and subzone have missing values, this can also be verified by checking for count of missing values
38 lorong 32 geylang    2
17 farrer drive         1
Name: address, dtype: int64

Merging With Auxiliary Data

In [234]:
df_pri_sch = pd.read_csv('../data/auxiliary-data/sg-primary-schools.csv').drop(["name", "subzone", 'planning_area'], axis=1).to_numpy()
pri_sch_coor = np.array([[radians(_) for _ in coor] for coor in df_pri_sch])
pri_sch_coor

array([[0.02518408, 1.81165779],
       [0.02502538, 1.81222266],
       [0.02399856, 1.81265384],
       [0.02253715, 1.81207179],
       [0.02426671, 1.81317637],
       [0.02416302, 1.81237461],
       [0.02301657, 1.81226397],
       [0.023799  , 1.81407625],
       [0.02389531, 1.81233873],
       [0.02313785, 1.81242773],
       [0.02415736, 1.81119459],
       [0.02310915, 1.81405736],
       [0.02307876, 1.81278752],
       [0.02227748, 1.81180553],
       [0.02343782, 1.81013216],
       [0.02397065, 1.8111182 ],
       [0.02334411, 1.81107318],
       [0.02348691, 1.81084051],
       [0.02532212, 1.81192393],
       [0.0231518 , 1.81307993],
       [0.02226716, 1.81234795],
       [0.02396002, 1.81439591],
       [0.02264075, 1.81255653],
       [0.02330942, 1.81296922],
       [0.02338433, 1.81430947],
       [0.02280164, 1.81358615],
       [0.02224708, 1.81214142],
       [0.02369771, 1.81276756],
       [0.0239653 , 1.81335677],
       [0.02384901, 1.81109583],
       [0.02326745, 1.81239184],
       [0.02398476, 1.81224787],
       [0.02511053, 1.81233751],
       [0.02357144, 1.81428582],
       [0.02404955, 1.8106392 ],
       [0.02295341, 1.81101624],
       [0.0243379 , 1.8133625 ],
       [0.02408935, 1.81054056],
       [0.02388354, 1.8142874 ],
       [0.02358688, 1.81004075],
       [0.02330802, 1.81377042],
       [0.02372221, 1.81074363],
       [0.02434838, 1.81066754],
       [0.02320438, 1.81374445],
       [0.02361224, 1.81447775],
       [0.02444073, 1.81352847],
       [0.02538459, 1.81195858],
       [0.02312242, 1.8134733 ],
       [0.02519959, 1.81155989],
       [0.02270359, 1.81140129],
       [0.02290856, 1.81254235],
       [0.0232146 , 1.81395355],
       [0.02425944, 1.81294699],
       [0.02339553, 1.81262683],
       [0.02333383, 1.80990011],
       [0.0249708 , 1.81127182],
       [0.02332607, 1.81054269],
       [0.02244274, 1.81191586],
       [0.02301121, 1.81312034],
       [0.02369   , 1.81425764],
       [0.02436829, 1.81361918],
       [0.02418358, 1.81109334],
       [0.02513213, 1.81173479],
       [0.02348826, 1.81251223],
       [0.02290209, 1.81344357],
       [0.02399856, 1.81265384],
       [0.02298698, 1.81137629],
       [0.02307137, 1.81265671],
       [0.02443435, 1.81362601],
       [0.02405689, 1.81306674],
       [0.02490344, 1.81242432],
       [0.02494557, 1.81149005],
       [0.02492518, 1.81217835],
       [0.02395554, 1.81255507],
       [0.02352323, 1.8140847 ],
       [0.02337544, 1.80988946],
       [0.02337544, 1.80988946],
       [0.02336562, 1.80970142],
       [0.02348065, 1.81089078],
       [0.02335051, 1.81248651],
       [0.02288582, 1.81319112],
       [0.02432883, 1.81072945],
       [0.0235484 , 1.81261215],
       [0.02335857, 1.81022039],
       [0.02362883, 1.81085633],
       [0.02392636, 1.81437852],
       [0.02312116, 1.8130756 ],
       [0.02318855, 1.81342446],
       [0.02341239, 1.81300709],
       [0.02503073, 1.81118692],
       [0.02340299, 1.81235014],
       [0.02402732, 1.81240648],
       [0.02434731, 1.81355376],
       [0.02401628, 1.81401074],
       [0.02356076, 1.81313396],
       [0.02398381, 1.81321345],
       [0.02429545, 1.81324075],
       [0.02305286, 1.81179517],
       [0.02278608, 1.81371042],
       [0.02472312, 1.81232303],
       [0.02268448, 1.81165325],
       [0.02480468, 1.81236009],
       [0.02543177, 1.81189121],
       [0.02421821, 1.81346323],
       [0.02491867, 1.81250098],
       [0.02413607, 1.81332688],
       [0.02451668, 1.81358922],
       [0.02303249, 1.81381189],
       [0.0241571 , 1.81324271],
       [0.02394859, 1.81449711],
       [0.02356076, 1.81313396],
       [0.02334049, 1.8126261 ],
       [0.02335424, 1.8112367 ],
       [0.02297318, 1.81109048],
       [0.02474035, 1.81218134],
       [0.023543  , 1.80981583],
       [0.02370447, 1.81402036],
       [0.02355116, 1.81062122],
       [0.02463951, 1.81338347],
       [0.02446918, 1.81337177],
       [0.02463951, 1.81338347],
       [0.02452761, 1.81348922],
       [0.02291278, 1.81090066],
       [0.02516852, 1.81144815],
       [0.02261991, 1.8117888 ],
       [0.02225372, 1.81207106],
       [0.02321514, 1.81176106],
       [0.02327256, 1.81399435],
       [0.02525976, 1.81168375],
       [0.02432395, 1.8134776 ],
       [0.02396683, 1.81295547],
       [0.02350276, 1.81023346],
       [0.02431038, 1.81295733],
       [0.02522522, 1.81201637],
       [0.02500839, 1.81140378],
       [0.02424944, 1.81338654],
       [0.0235118 , 1.81028326],
       [0.02412684, 1.8108838 ],
       [0.02434694, 1.81321866],
       [0.02275632, 1.81265186],
       [0.02323666, 1.81279291],
       [0.02330217, 1.81412498],
       [0.0235598 , 1.81402705],
       [0.02299716, 1.81244666],
       [0.02302203, 1.81370447],
       [0.02374602, 1.81425447],
       [0.02356748, 1.81416332],
       [0.02278195, 1.81340479],
       [0.02277771, 1.81359647],
       [0.0238301 , 1.81254088],
       [0.02415306, 1.81084271],
       [0.02322823, 1.81359459],
       [0.02299307, 1.81419589],
       [0.0237441 , 1.81259488],
       [0.02448237, 1.81072243],
       [0.02456163, 1.81337715],
       [0.0244208 , 1.81371813],
       [0.02534456, 1.81204294],
       [0.02346911, 1.80988869],
       [0.02425175, 1.81106298],
       [0.02351731, 1.80991539],
       [0.02414608, 1.81095473],
       [0.023832  , 1.81446619],
       [0.02501247, 1.81148269],
       [0.02503963, 1.81161407],
       [0.02503963, 1.81161407],
       [0.02370162, 1.81323155],
       [0.02339988, 1.80967784],
       [0.02393548, 1.8131035 ],
       [0.02501807, 1.81231126],
       [0.02354036, 1.81284668],
       [0.02438158, 1.81079818],
       [0.02404915, 1.81314334],
       [0.02502102, 1.8122432 ],
       [0.02328308, 1.81395473],
       [0.02343787, 1.81062132],
       [0.02358401, 1.814285  ],
       [0.02241439, 1.81210698],
       [0.02407552, 1.81112234],
       [0.02373493, 1.81286844]])

In [235]:
df_sec_sch = pd.read_csv('../data/auxiliary-data/sg-secondary-schools.csv').drop(["name", "subzone", 'planning_area'], axis=1).to_numpy()
sec_sch_coor = np.array([[radians(_) for _ in coor] for coor in df_sec_sch])
sec_sch_coor

array([[0.02523592, 1.81170252],
       [0.02506458, 1.81217632],
       [0.02400556, 1.81255449],
       [0.02322382, 1.81413586],
       [0.02303435, 1.81228105],
       [0.02273813, 1.81131498],
       [0.02387036, 1.81239431],
       [0.02390286, 1.81106569],
       [0.02339885, 1.81308864],
       [0.02341857, 1.81256411],
       [0.02328376, 1.81402294],
       [0.02313538, 1.8142877 ],
       [0.02312108, 1.81415707],
       [0.02311665, 1.81270744],
       [0.02343555, 1.80993565],
       [0.02392644, 1.81300617],
       [0.02281608, 1.81316822],
       [0.02353421, 1.81061705],
       [0.02244361, 1.81187903],
       [0.02411551, 1.81058399],
       [0.02348688, 1.81081736],
       [0.02364606, 1.8124395 ],
       [0.02537261, 1.81190009],
       [0.02328645, 1.81294771],
       [0.02339603, 1.81432179],
       [0.02280866, 1.81370116],
       [0.02325952, 1.81239958],
       [0.0242945 , 1.81344042],
       [0.02398345, 1.81224768],
       [0.02228446, 1.81204633],
       [0.02414678, 1.81080612],
       [0.02490002, 1.81153206],
       [0.02278692, 1.81324923],
       [0.02477679, 1.81230998],
       [0.02296261, 1.81098691],
       [0.02303306, 1.81070405],
       [0.02437537, 1.81339934],
       [0.02258887, 1.81194698],
       [0.02334549, 1.81386519],
       [0.02385416, 1.81256129],
       [0.02379904, 1.81068391],
       [0.02269018, 1.81308667],
       [0.02375687, 1.81437472],
       [0.02368366, 1.81446315],
       [0.02443821, 1.81343745],
       [0.0251631 , 1.81154746],
       [0.02271929, 1.81137935],
       [0.02400365, 1.81102364],
       [0.02497082, 1.81125542],
       [0.02351501, 1.81037807],
       [0.02251816, 1.81206118],
       [0.02301457, 1.81310163],
       [0.02439485, 1.81359972],
       [0.02412983, 1.81119534],
       [0.02346897, 1.81252358],
       [0.02399324, 1.8143595 ],
       [0.02362072, 1.81083129],
       [0.02393473, 1.81332583],
       [0.02404649, 1.81309094],
       [0.02361412, 1.81028444],
       [0.02314668, 1.8117136 ],
       [0.02361736, 1.81398256],
       [0.02321829, 1.81032486],
       [0.02330819, 1.80994837],
       [0.02358436, 1.81041212],
       [0.02335703, 1.80968578],
       [0.02270938, 1.81104315],
       [0.02426839, 1.81062445],
       [0.02357655, 1.81260676],
       [0.02384892, 1.81440117],
       [0.02317032, 1.81342701],
       [0.02341183, 1.81300747],
       [0.02508561, 1.81123186],
       [0.0238947 , 1.81227608],
       [0.02386869, 1.8142513 ],
       [0.02356076, 1.81314691],
       [0.02398491, 1.81320156],
       [0.02425359, 1.81322176],
       [0.02284024, 1.8111105 ],
       [0.02322862, 1.81169414],
       [0.02322418, 1.81172918],
       [0.0247699 , 1.81219273],
       [0.02286178, 1.81119102],
       [0.02363711, 1.81438587],
       [0.02411464, 1.81337591],
       [0.02480579, 1.81243331],
       [0.02505787, 1.81236245],
       [0.02281688, 1.81111792],
       [0.02470993, 1.81231678],
       [0.02244976, 1.81229975],
       [0.02395831, 1.81444012],
       [0.02364408, 1.81424405],
       [0.02356076, 1.81314691],
       [0.02427546, 1.81301577],
       [0.02371754, 1.81288369],
       [0.0238496 , 1.81216721],
       [0.02316702, 1.81375579],
       [0.02412673, 1.81240244],
       [0.02447437, 1.81355529],
       [0.02257469, 1.81188415],
       [0.02273357, 1.81167955],
       [0.023439  , 1.81240762],
       [0.0235046 , 1.81240335],
       [0.0243214 , 1.81079676],
       [0.02514303, 1.81144922],
       [0.02346272, 1.81006238],
       [0.02323939, 1.81280368],
       [0.02283722, 1.81369387],
       [0.02292002, 1.81118682],
       [0.02268198, 1.81250273],
       [0.0252314 , 1.81194258],
       [0.02420506, 1.8133721 ],
       [0.02390512, 1.81285576],
       [0.02399722, 1.8134331 ],
       [0.02306493, 1.81215593],
       [0.02490012, 1.81146194],
       [0.02356184, 1.81392044],
       [0.02329789, 1.81412832],
       [0.0235137 , 1.81297466],
       [0.02356992, 1.81403285],
       [0.0230413 , 1.81182788],
       [0.02310204, 1.81213964],
       [0.02381606, 1.81078666],
       [0.02286091, 1.81091948],
       [0.02355228, 1.81416682],
       [0.02283585, 1.81333534],
       [0.02283447, 1.81335066],
       [0.02413955, 1.8108704 ],
       [0.02302417, 1.81401312],
       [0.02297459, 1.81423229],
       [0.02442976, 1.8107098 ],
       [0.02283987, 1.81386351],
       [0.02423021, 1.81095147],
       [0.0236243 , 1.80993789],
       [0.02366107, 1.81239453],
       [0.02492859, 1.81159169],
       [0.02506333, 1.81165936],
       [0.02506333, 1.81165936],
       [0.02395566, 1.81309913],
       [0.02405901, 1.81238669],
       [0.02500471, 1.81231298],
       [0.02500471, 1.81231298],
       [0.02341502, 1.81025807],
       [0.02350763, 1.81029783],
       [0.0245598 , 1.81333833],
       [0.02368576, 1.81323493],
       [0.02425177, 1.8110463 ],
       [0.02353759, 1.81286251]])

In [236]:
df_commercial_centres = pd.read_csv('../data/auxiliary-data/sg-commerical-centres.csv').drop(["name", "type", "subzone", 'planning_area'], axis=1).to_numpy()
commercial_centres_coor = np.array([[radians(_) for _ in coor] for coor in df_commercial_centres])

df_shopping_malls = pd.read_csv('../data/auxiliary-data/sg-shopping-malls.csv').drop(["name", "subzone", 'planning_area'], axis=1).to_numpy()
shopping_malls_coor = np.array([[radians(_) for _ in coor] for coor in df_shopping_malls])

In [237]:
df_mrt_station = pd.read_csv('../data/auxiliary-data/sg-mrt-stations.csv')
df_mrt_station = df_mrt_station.drop(["name", "lat", "lng", 'planning_area', 'code', 'line', 'opening_year'], axis=1)
mrt_station_cleaned = df_mrt_station.value_counts().to_frame(name="mrt_station")

mrt_station_coor = pd.read_csv('../data/auxiliary-data/sg-mrt-stations.csv').drop(["name", "subzone", 'planning_area', 'code', 'line', 'opening_year'], axis=1).to_numpy()
mrt_station_coor = np.array([[radians(_) for _ in coor] for coor in mrt_station_coor])

df_train_coor = df_cleaned[["lat", "lng"]].to_numpy()
df_train_coor = np.array([[radians(_) for _ in coor] for coor in df_train_coor])

df_test_coor = df_test_cleaned[["lat", "lng"]].to_numpy()
df_test_coor = np.array([[radians(_) for _ in coor] for coor in df_test_coor])

dist_matrix_train_mrt = sklearn.metrics.pairwise.haversine_distances(mrt_station_coor, df_train_coor)
# multiply to get meters
closest_dist_to_mrt_train = pd.DataFrame(np.amin(dist_matrix_train_mrt, axis=0)* 6371000, columns=["closest_dist_to_mrt"])

dist_matrix_test_mrt = sklearn.metrics.pairwise.haversine_distances(mrt_station_coor, df_test_coor)
# multiply to get meters
closest_dist_to_mrt_test = pd.DataFrame(np.amin(dist_matrix_test_mrt, axis=0)* 6371000, columns=["closest_dist_to_mrt"])

dist_matrix_train_pri = sklearn.metrics.pairwise.haversine_distances(pri_sch_coor, df_train_coor)
closest_dist_to_pri_train = pd.DataFrame(np.amin(dist_matrix_train_pri, axis=0)* 6371000, columns=["closest_dist_to_pri"])

dist_matrix_test_pri = sklearn.metrics.pairwise.haversine_distances(pri_sch_coor, df_test_coor)
closest_dist_to_pri_test = pd.DataFrame(np.amin(dist_matrix_test_pri, axis=0)* 6371000, columns=["closest_dist_to_pri"])

dist_matrix_train_sec = sklearn.metrics.pairwise.haversine_distances(sec_sch_coor, df_train_coor)
closest_dist_to_sec_train = pd.DataFrame(np.amin(dist_matrix_train_sec, axis=0)* 6371000, columns=["closest_dist_to_sec"])

dist_matrix_test_sec = sklearn.metrics.pairwise.haversine_distances(sec_sch_coor, df_test_coor)
closest_dist_to_sec_test = pd.DataFrame(np.amin(dist_matrix_test_sec, axis=0)* 6371000, columns=["closest_dist_to_sec"])

dist_matrix_test_com = sklearn.metrics.pairwise.haversine_distances(commercial_centres_coor, df_test_coor)
closest_dist_to_com_test = pd.DataFrame(np.amin(dist_matrix_test_com, axis=0)* 6371000, columns=["closest_dist_to_com"])

dist_matrix_test_shop = sklearn.metrics.pairwise.haversine_distances(shopping_malls_coor, df_test_coor)
closest_dist_to_shop_test = pd.DataFrame(np.amin(dist_matrix_test_shop, axis=0)* 6371000, columns=["closest_dist_to_shop"])

dist_matrix_train_com = sklearn.metrics.pairwise.haversine_distances(commercial_centres_coor, df_train_coor)
closest_dist_to_com_train = pd.DataFrame(np.amin(dist_matrix_train_com, axis=0)* 6371000, columns=["closest_dist_to_com"])

dist_matrix_train_shop = sklearn.metrics.pairwise.haversine_distances(shopping_malls_coor, df_train_coor)
closest_dist_to_shop_train = pd.DataFrame(np.amin(dist_matrix_train_shop, axis=0)* 6371000, columns=["closest_dist_to_shop"])

#during pri sch registration exercise, homeowners within 1km will be given priority
test = pd.DataFrame(dist_matrix_test_pri * 6371000)
test_near_pri_sch = test[test <= 1000].count().rename("close_pri_sch")

test = pd.DataFrame(dist_matrix_train_pri * 6371000)
train_near_pri_sch = test[test <= 1000].count().rename("close_pri_sch")

#no such priority for sec sch, put as 1km for now
#change 1000 to desired distance if necessary
test = pd.DataFrame(dist_matrix_test_sec * 6371000)
test_near_sec_sch = test[test <= 1000].count().rename("close_sec_sch")

test = pd.DataFrame(dist_matrix_train_sec * 6371000)
train_near_sec_sch = test[test <= 1000].count().rename("close_sec_sch")

df_cleaned = df_cleaned.merge(pri_sch_cleaned, how='left',left_on="subzone",right_on="subzone")\
    .merge(sec_sch_cleaned, how='left',left_on="subzone",right_on="subzone")\
    .merge(mrt_station_cleaned, how='left',left_on="subzone",right_on="subzone")\
    .merge(df_subzone, how='left',left_on="subzone",right_on="name")\
    .join(closest_dist_to_mrt_train)\
    .join(closest_dist_to_pri_train)\
    .join(closest_dist_to_sec_train)\
    .join(train_near_pri_sch)\
    .join(train_near_sec_sch)\
    .join(closest_dist_to_shop_train)\
    .join(closest_dist_to_com_train)\
    .fillna({'pri_sch':0, 'sec_sch':0, 'mrt_station':0})

df_test_cleaned = df_test_cleaned.merge(pri_sch_cleaned, how='left',left_on="subzone",right_on="subzone")\
    .merge(sec_sch_cleaned, how='left',left_on="subzone",right_on="subzone")\
    .merge(mrt_station_cleaned, how='left',left_on="subzone",right_on="subzone")\
    .merge(df_subzone, how='left',left_on="subzone",right_on="name")\
    .join(closest_dist_to_mrt_test)\
    .join(closest_dist_to_pri_test)\
    .join(closest_dist_to_sec_test)\
    .join(test_near_pri_sch)\
    .join(test_near_sec_sch)\
    .join(closest_dist_to_shop_test)\
    .join(closest_dist_to_com_test)\
    .fillna({'pri_sch':0, 'sec_sch':0, 'mrt_station':0})

Drop Columns at the end

In [238]:
df_cleaned = df_cleaned.drop(['title', 'address','property_name', 'property_details_url', 'listing_id', 'elevation', 'total_num_units', 'floor_level', 'available_unit_types'], axis = 1)
df_test_cleaned = df_test_cleaned.drop(['title','address','property_name', 'property_details_url', 'listing_id', 'elevation', 'total_num_units', 'floor_level', 'available_unit_types'], axis = 1)

In [239]:
print(df_cleaned.isnull().sum())
print(df_test_cleaned.isnull().sum())
print(df_cleaned.shape)
print(df_test_cleaned.shape)

property_type           0
num_beds                0
num_baths               0
size_sqft               0
furnishing              0
lat                     0
lng                     0
subzone                 0
planning_area           0
price                   0
built_year              0
tenure                  0
pri_sch                 0
sec_sch                 0
mrt_station             0
population_density      0
closest_dist_to_mrt     0
closest_dist_to_pri     0
closest_dist_to_sec     0
close_pri_sch           0
close_sec_sch           0
closest_dist_to_shop    0
closest_dist_to_com     0
dtype: int64
property_type           0
num_beds                0
num_baths               0
size_sqft               0
furnishing              0
lat                     0
lng                     0
subzone                 0
planning_area           0
built_year              0
tenure                  0
pri_sch                 0
sec_sch                 0
mrt_station             0
population_density      0
closest_dist_to_mrt     0
closest_dist_to_pri     0
closest_dist_to_sec     0
close_pri_sch           0
close_sec_sch           0
closest_dist_to_shop    0
closest_dist_to_com     0
dtype: int64
(17217, 23)
(6966, 22)

Saving the data

In [240]:
df_test_cleaned.to_csv('../data/test_cleaned.csv', index = False)
df_cleaned.to_csv('../data/train_cleaned.csv', index = False)

In [241]:
df_cleaned.isnull().sum()

property_type           0
num_beds                0
num_baths               0
size_sqft               0
furnishing              0
lat                     0
lng                     0
subzone                 0
planning_area           0
price                   0
built_year              0
tenure                  0
pri_sch                 0
sec_sch                 0
mrt_station             0
population_density      0
closest_dist_to_mrt     0
closest_dist_to_pri     0
closest_dist_to_sec     0
close_pri_sch           0
close_sec_sch           0
closest_dist_to_shop    0
closest_dist_to_com     0
dtype: int64

In [242]:
df_test_cleaned.isnull().sum()
df_test_cleaned.shape

(6966, 22)